#include <dt-bindings/zmk/matrix_transform.h>
#include <zephyr/dt-bindings/gpio/gpio.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,physical-layout = &physical_layout0;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-direct";
        wakeup-source;

        input-gpios
            = <&gpio1 6  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  /* 1번: 106 */
            , <&gpio1 4  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  /* 2번: 104 */
            , <&gpio0 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  /* 3번: 011 */
            , <&gpio1 0  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  /* 4번: 100 */
            , <&gpio0 9  (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  /* 5번: 009 */
            , <&gpio0 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  /* 6번: 010 */
            , <&gpio1 11 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  /* 7번: 111 */
            , <&gpio1 13 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  /* 8번: 113 */
            , <&gpio1 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>  /* 9번: 115 */
            ;
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <9>;
        rows = <1>;

        map = <
            RC(0,0) RC(0,1) RC(0,2)
            RC(0,3) RC(0,4) RC(0,5)
            RC(0,6) RC(0,7) RC(0,8)
        >;
    };

    physical_layout0: physical_layout_0 {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
        kscan = <&kscan0>;
        transform = <&default_transform>;
    };
};
