#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        center_window: center_window {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <30>;
            bindings =
                <&macro_press &kp LCTRL>,
                <&macro_press &kp GLOBE>,
                <&macro_tap &kp C>,
                <&macro_release &kp GLOBE>,
                <&macro_release &kp LCTRL>;
        };

        fill_window: fill_window {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <30>;
            bindings =
                <&macro_press &kp LCTRL>,
                <&macro_press &kp GLOBE>,
                <&macro_tap &kp F>,
                <&macro_release &kp GLOBE>,
                <&macro_release &kp LCTRL>;
        };
    };

    behaviors {
        td_center_fullscreen: tap_dance_center_fullscreen {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&center_window>, <&fill_window>;
        };

        td_close_clear: tap_dance_close_clear {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&kp LG(W)>, <&kp LG(K)>;
        };

        td_screenshot: tap_dance_screenshot {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&kp LG(LS(N4))>, <&kp LG(LS(N3))>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";

            bindings = <
                &kp LC(UP)         &td_center_fullscreen  &td_close_clear     &td_screenshot
                &kp LG(Z)          &kp LG(A)              &kp LG(C)           &kp LG(V)          &kp RET
                &kp C_PLAY_PAUSE
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };
    };
};
